%h3 Successful Transmissions
#logs
  =render Log.where(:mode=>'sent').all
%hr
%button#startBtn{:onclick => "start()"}
  =image_tag 'mic.png'
%button#stopBtn{:onclick => "stop()"}
  off
%input#chat{:type=>'text', :placeholder => 'do your worst'}
#search-result
%br
#message
%button#send{:onclick => "send()"} send
%button#report{:onclick => "report()"} this seems ok, but I can't submit it


:javascript
  var client;

  if (client) {
      stop();
  }

  client = new BingSpeech.RecognitionClient("f80517976240427d895b013aafe46ab9");

  client.onFinalResponseReceived = function (response) {
      response = response.replace(/[^a-zA-Z 0-9]+/g, '').toLowerCase();
      $('#chat').val('');
      $.post('/check-validity', {q:response}, function(data) {
        if(data["success"] == true) {
          $('#chatbox').prepend('<div class="phrase">' + response + '</phrase>');
          $('#send').hide();
        }
        else {
          $('#chat').val(response);
          $('#chat').css('color','red');
          $('#send').hide();
        }
      });
  }

  client.onError = function (code, requestId) {
      console.log("<Error with request n°" + requestId + ">");
  }

  function send() {
    $.post('/check-validity', {q:$('#chat').val().toLowerCase(), mode:'send'}, function(data) {

      if(data["success"] == true) {
        $('#logs').append('<div class="log">' + $('#chat').val().toLowerCase(), + '</log>');
        $('#chat').val('');
        $('#send').hide();
        $('#report').hide();
      }
      else {
        $('#chat').css('color','red');
        $('#send').hide();
        $('#report').show();
        $('#chat').focus();
      }
    });
  }

  function report() {
    $.post('/log', {input:$('#chat').val().toLowerCase(), mode:'report'}, function(data) {
      $('#message').html('thanks for reporting');
      $('#report').hide();
    });
  }

  function start() {
      $("#startBtn").hide();
      $("#stopBtn").show();
      client.startMicAndContinuousRecognition();
  }

  function stop() {
      $("#stopBtn").hide();
      $("#startBtn").show();
      client.endMicAndContinuousRecognition();
  }


:javascript
  $('#chat').focus();
  var phrase = '';
  var entries = [];

  jQuery(function(){
      jQuery('input#chat')
        .data('timeout', null)
        .keyup(function(e){
          var charCode = (e.which) ? e.which : e.keyCode;
          if (!(charCode >= 48 && charCode <= 57) && !(charCode >= 96 && charCode <= 105) && !(e.keyCode === 0 || e.keyCode === 32)) {
            clearTimeout(jQuery(this).data('timeout'));
            jQuery(this).data('timeout', setTimeout(function(){

              q = $("input#chat").val().replace(phrase,'').trim();
              if(q.length > 2) {
               $.post('/chat', { q: q}, function(data) {
                  Jaml.register('choice', function(choice, val) {
                    div({cls: "choice"},
                      span(choice.str)
                    );
                  });
                  if(data.length > 0){
                     $("#search-result").html("");
                     count = 0;
                     $(data).each(function(idx, d){

                        $("#search-result").append(Jaml.render('choice',d));
                        $("#search-result").append('<div class="choice-count">'+count+'</span>');
                        $("#search-result").append('<br>');
                        count++;
                     });
                     $('#search-result').css('display','block');
                   }else{
                     $("#search-result").html("<p>No suggestions found.</p>")
                   }

               }, "json");
             }
             else {
               $('#search-result').css('display','none');
             }
            //timeout function

            }, 500));
          }
        });
    });

    $(document).on('click','.choice',function() {
      console.log('hey');
        text = $(this).text();
        $('#chat').val(phrase.trim() + ' ' + text.trim() + ' ');
        phrase = $('#chat').val().trim();
        $('#send').show();
        $('#chat').css('color','green');
        $('#search-result').empty();
        $('#send').show();
        $('#chat').focus();
    });

    $(document).on('click','.chunk',function() {

      $(this).remove();
    });

  $(window).keydown(function (e) {
    var charCode = (e.which) ? e.which : e.keyCode;
    if ((charCode >= 48 && charCode <= 57) || (charCode >= 96 && charCode <= 105)) {
        text = $('#search-result .choice').eq(e.key).text();
        e.preventDefault();
        $('#chat').val(phrase.trim() + ' ' + text.trim() + ' ');
        phrase = $('#chat').val().trim();
        $('#send').show();
        $('#chat').css('color','green');
        $('#search-result').empty();
        $('#send').show();
        $('#chat').focus();
    }
    if (e.keyCode === 13) {
      send();
      console.log('hey');
    }
    if (e.keyCode === 0 || e.keyCode === 32 || e.keyCode === 8) {
      checkIfValid();
    }
    //$('#chat').focus();
  });

  function checkIfValid() {
    $.post('/check-validity', {q:$('#chat').val().toLowerCase()}, function(data) {

      if(data["success"] == true) {
        subs = jQuery.makeArray(data["changes"]);
        $.each(subs, function(k,change) {
          console.log(change);
          $('#chat').val($('#chat').val().replace(change["word"],change["synonyms"]));

        });
        phrase = $('#chat').val().trim();
        $('#send').show();
        $('#chat').css('color','green');
        $("#search-result").html("");
        $('#report').hide();
      }
      else {
        $('#chat').css('color','red');
        $('#send').hide();
        $('#report').show();
      }
    });

  }
