#chatbox
%button#startBtn{:onclick => "start()"}
  =image_tag 'mic.png'
%button#stopBtn{:onclick => "stop()"}
  off
%input#chat{:type=>'text', :placeholder => 'talk'}
#search-result
%br
#message
%button#send{:onclick => "send()"} send


:javascript
  var client;

  if (client) {
      stop();
  }

  client = new BingSpeech.RecognitionClient("f80517976240427d895b013aafe46ab9");

  client.onFinalResponseReceived = function (response) {
      response = response.replace(/[^a-zA-Z 0-9]+/g, '').toLowerCase();
      $.post('/check-validity', {q:response}, function(data) {
        if(data["success"] == true) {
          phrase += response + ' ';
          $('#comment').append('<div class="chunk">'+ response +'</chunk>');
          $('#chat').val('');
          $('#chat').focus();
          $('#chat').css('color','green');
          $('#search-result').empty();
          $('#send').show();
        }
        else {
          $('#message').html('Invalid text: ' + response);
        }
      });
  }

  client.onError = function (code, requestId) {
      console.log("<Error with request n°" + requestId + ">");
  }

  function assemblePhrase() {
    phrase = '';
    $('#comment .chunk').each(function() {
      str = $(this).text();
      phrase += str + ' ';
    });
    return phrase.trim();
  }

  function send() {

    $('#chatbox').prepend('<div class="phrase">' + assemblePhrase() + '</phrase>');
    $('#comment').empty();
    $('#send').hide();
  }

  function start() {
      $("#startBtn").hide();
      $("#stopBtn").show();
      client.startMicAndContinuousRecognition();
  }

  function stop() {
      $("#stopBtn").hide();
      $("#startBtn").show();
      client.endMicAndContinuousRecognition();
  }


:javascript
  $('#chat').focus();
  var phrase = '';
  var entries = [];

  jQuery(function(){
      jQuery('input#chat')
        .data('timeout', null)
        .keyup(function(e){
          var charCode = (e.which) ? e.which : e.keyCode;
          if (!(charCode >= 48 && charCode <= 57) && !(charCode >= 96 && charCode <= 105) && !(e.keyCode === 0 || e.keyCode === 32)) {
            clearTimeout(jQuery(this).data('timeout'));
            jQuery(this).data('timeout', setTimeout(function(){

              q = $("input#chat").val().replace(phrase,'').trim();
              if(q.length > 2) {
               $.post('/chat', { q: q}, function(data) {
                  Jaml.register('choice', function(choice, val) {
                    div({cls: "choice"},
                      span(choice.str)
                    );
                  });
                  if(data.length > 0){
                     $("#search-result").html("");
                     count = 0;
                     $(data).each(function(idx, d){

                        $("#search-result").append(Jaml.render('choice',d));
                        $("#search-result").append('<div class="choice-count">'+count+'</span>');
                        $("#search-result").append('<br>');
                        count++;
                     });
                     $('#search-result').css('display','block');
                   }else{
                     $("#search-result").html("<p>No suggestions found.</p>")
                   }

               }, "json");
             }
             else {
               $('#search-result').css('display','none');
             }
            //timeout function

            }, 500));
          }
        });
    });

    $(document).on('click','.choice',function() {

      $('#comment').append('<div class="chunk">'+ $(this).text().trim() +'</chunk>');
      $('#chat').val('');
      $('#chat').focus();
      $('#chat').css('color','green');
      $('#search-result').empty();
      $('#send').show();
    });
    $(document).on('click','.chunk',function() {

      $(this).remove();
    });

  $(window).keydown(function (e) {
    var charCode = (e.which) ? e.which : e.keyCode;
    if ((charCode >= 48 && charCode <= 57) || (charCode >= 96 && charCode <= 105)) {
        text = $('#search-result .choice').eq(e.key).text();
        e.preventDefault();
        $('#chat').val(phrase.trim() + ' ' + text.trim() + ' ');
        phrase = $('#chat').val().trim();
        $('#send').show();
        $('#chat').css('color','green');
        $('#search-result').empty();
        $('#send').show();
    }
    if (e.keyCode === 8) {
      if($('#chat').val() == '') {
        $('#comment').children().last().remove();
      }
    }
    if (e.keyCode === 13) {
      if($('#chat').val().length > 0) {
        $.post('/check-validity', {q:$('#chat').val()}, function(data) {
          if(data["success"] == true) {
            phrase = $('#chat').val().trim();
            $('#send').show();
            console.log('ddddd');
          }
          else {
            $('#chat').css('color','red');
            $('#send').hide();
          }
        });
      }
      else {
        send();
      }
    }
    if (e.keyCode === 0 || e.keyCode === 32) {
      $.post('/check-validity', {q:$('#chat').val(), statement: $('#chat').val()}, function(data) {
        console.log(data);
        if(data["success"] == true) {
          phrase = $('#chat').val().trim();
          console.log(phrase);
          $('#send').show();
          $('#chat').css('color','green');
          $("#search-result").html("");
        }
        else {
          $('#chat').css('color','red');
          $('#send').hide();
        }
      });
    }
    //$('#chat').focus();
  });


