
:css
  #speechActivity {
      position: absolute;
      width: 30px;
  }

  #networkActivity {
      position: absolute;
      width: 30px;
      top: 40px;
  }

  .hidden {
      display: none;
  }
  .choice:hover {
    background: blue;
    color: white;
  }

  .chunk {
    margin: 3px 5px;
    background-color: #eee;
    padding: 4px 6px;
    display: inline;
  }

  #chatbox {
    text-align: right;
  }
  #comment, #chat {
    display:inline;
    font-size: 1.2em;
    text-align: left;
  }
%img#speechActivity.hidden{:src => "waiting.gif"}/
%img#networkActivity.hidden{:src => "radio.gif"}/
%table{:width => "100%"}
  %tr
    %td
    %td
      %button#createBtn{:onclick => "createAndSetupClient()"} Create
      %button#startBtn{:disabled => "disabled", :onclick => "start()"} Start
      %button#stopBtn{:disabled => "disabled", :onclick => "stop()"} Stop
  %tr
    %td
    %td
      %textarea#output{:style => "width:400px;height:200px"}
%ul#wavFiles
#chatbox
  #comment
  %input#chat{:type=>'text', :placeholder => 'talk', :style => "width:300px"}
    #search-result



:javascript
  var client;
  var speechActivity = document.getElementById("speechActivity");
  var networkActivity = document.getElementById("networkActivity");

  function setText(text) {
      document.getElementById("output").value += text + "\n";
  }

  function start() {
      document.getElementById("startBtn").disabled = true;
      document.getElementById("stopBtn").disabled = false;
      client.startMicAndContinuousRecognition();
  }

  function stop() {
      document.getElementById("startBtn").disabled = false;
      document.getElementById("stopBtn").disabled = true;
      client.endMicAndContinuousRecognition();
  }

  function createAndSetupClient() {
      document.getElementById("startBtn").disabled = false;

      if (client) {
          stop();
      }

      client = new BingSpeech.RecognitionClient("f80517976240427d895b013aafe46ab9");

      client.onFinalResponseReceived = function (response) {
          console.log('hey');
          setText(response);
      }

      client.onError = function (code, requestId) {
          console.log("<Error with request n°" + requestId + ">");
      }

      client.onVoiceDetected = function () {
          speechActivity.classList.remove("hidden");
      }

      client.onVoiceEnded = function () {
          speechActivity.classList.add("hidden");
      }

      client.onNetworkActivityStarted = function () {
          networkActivity.classList.remove("hidden");
      }

      client.onNetworkActivityEnded = function () {
          networkActivity.classList.add("hidden");
      }
  }


:javascript

  var phrase = ''
  var entries = [];

  jQuery(function(){
      jQuery('input#chat')
        .data('timeout', null)
        .keyup(function(){
            clearTimeout(jQuery(this).data('timeout'));
            jQuery(this).data('timeout', setTimeout(function(){
             if($("input#chat").val().length > 2) {
              q = $("input#chat").val().trim();
               $.post('/chat', { q: q}, function(data) {
                  Jaml.register('choice', function(choice) {
                    div({cls: "choice"},
                      p(phrase + choice.str)
                    );
                  });
                  if(data.length > 0){
                     $("#search-result").html("");
                     $(data).each(function(idx, d){
                        console.log(d);
                       $("#search-result").append(Jaml.render('choice',d));
                       $('#search-result').css('display','block');
                     })
                   }else{
                     $("#search-result").html("<p>No suggestions found.</p>")
                   }

               }, "json");
             }
             else {
               $('#search-result').css('display','none');
             }
            //timeout function

            }, 500));
        });
    });

    $(document).on('click','.choice',function() {

      phrase = $(this).text().trim() + ' ';
      $('#comment').html('<div class="chunk">'+ phrase +'</chunk>');
      $('#chat').val('');
      $('#chat').focus();
      $('#chat').css('color','green');
      $('#search-result').empty();
      entries.push($(this).text().trim());
      console.log(entries);
    });

  $(window).keyup(function (e) {
    if (e.keyCode === 8 && $('#chat').val() == '') {
      console.log('empty');
      txt = entries.pop();
      console.log(txt);
      console.log($('#comment').first().text().split(txt)[0]);
    }
    if (e.keyCode === 0 || e.keyCode === 32 || e.keyCode === 8) {
      $.post('/check-validity', {q:phrase+' '+$('#chat').val()}, function(data) {
        if(data["success"] == true) {
          $('#chat').css('color','green');
        }
        else {
          $('#chat').css('color','red');
        }
      });
    }
  });
